<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TerraMap"
        tools:targetApi="31">
        <activity
            android:name=".PropriedadeListActivity"
            android:exported="false"
            android:label="@string/title_activity_propriedade_list"
            android:theme="@style/Theme.TerraMap" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false"
            android:label="@string/title_activity_update"
            android:theme="@style/Theme.TerraMap" />
        <activity
            android:name=".MyAdapter"
            android:exported="false"
            android:label="@string/title_activity_my_adapter"
            android:theme="@style/Theme.TerraMap" />
        <activity
            android:name=".UserlistActivity"
            android:exported="false"
            android:label="@string/title_activity_userlist"
            android:theme="@style/Theme.TerraMap" />
        <!--
        <activity
            android:name=".localizacaoActivity"
            android:exported="false"
            android:label="@string/title_activity_localizacao"
            android:theme="@style/Theme.TerraMap" />
        -->
        <activity
            android:name=".homeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.TerraMap" />
        <activity
            android:name=".CadUserActivity"
            android:exported="false"
            android:label="@string/title_activity_cad_user"
            android:theme="@style/Theme.TerraMap" />
        <activity
            android:name=".CadPropriedadeActivity"
            android:exported="false"
            android:label="@string/title_activity_cad_propriedade"
            android:theme="@style/Theme.TerraMap" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.TerraMap" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TerraMap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>